<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.suratdesa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginUser"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuUtama"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilUser"
            android:label="Profil User" />
        <activity
            android:name=".BuatSurat"
            android:label="Buat Surat" />
        <activity
            android:name=".SuratNikah"
            android:label="Surat Nikah" />
        <activity
            android:name=".SuratDomisili"
            android:label="Surat Domisili" />
        <activity
            android:name=".SuratKelakuanBaik"
            android:label="Surat Kelakuan Baik" />
        <activity
            android:name=".SuratKurangMampu"
            android:label="Surat Kurang Mampu" />
        <activity
            android:name=".SuratIzinKeramaian"
            android:label="Surat Keramaian" />
        <activity
            android:name=".SuratUsaha"
            android:label="Surat Usaha" />
        <activity
            android:name=".Riwayat"
            android:label="Riwayat" />
        <activity
            android:name=".KotakMasuk"
            android:label="Kotak Masuk"></activity>
    </application>

</manifest>